<!-- <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="userName" placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="remember">
          <span>Remember me</span>
        </label>
      </div>
      <div nz-col [nzSpan]="12">
        <a class="login-form-forgot">Forgot password</a>
      </div>
    </div>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
    Or
    <a>register now!</a>
</form> -->

<div>
  <app-header [showFeatures]='false'></app-header>
  
  <section id="home" class="header-intro-1 d-flex align-items-center">
      <div class="container-fluid">
          <div class="row">
              <div class="col-6">
                  <div class="header-intro-wrap text-center">
                      <div class="header-intro-title"><h3>Bgo后台管理系统</h3></div>
                      <div class="header-intro-tag">Bgo GO GO GO!!!</div>
                  </div>
              </div>
              <div class="col-1"></div>
              <div class="col-5 login-area">
                  <div class="header-intro-wrap text-center">
                      <app-login-input *ngIf="!showRegister"></app-login-input>
                      <app-register-input *ngIf="showRegister"></app-register-input>
                  </div>
              </div>
          </div>
      </div>
  </section>

</div>