<div class="header">
    <h1 class="header-title">Show Time</h1>
</div>
<div class="wrapper">
    <div class="content">
        <div class="col col-l">
            <div class="xpanel-wrapper xpanel-wrapper-40">
                <div class="xpanel xpanel-l-t">
                    <div class="title">Area 001</div>
                </div>
            </div>
            <div class="xpanel-wrapper xpanel-wrapper-60">
                <div class="xpanel xpanel-l-b">
                    <div class="title">Area 002</div>
                </div>
            </div>
        </div>
        <div class="col col-c">
            <div class="xpanel-wrapper xpanel-wrapper-75">
                <div class="xpanel no-bg">
                    <p>Big blank</p>
                </div>
            </div>
            <div class="xpanel-wrapper xpanel-wrapper-25">
                <div class="xpanel xpanel-c-b">
                    <div class="title title-long">Area 003</div>
                </div>
            </div>
        </div>
        <div class="col col-r">
            <div class="xpanel-wrapper xpanel-wrapper-25">
                <div class="xpanel xpanel-r-t">
                    <div class="title">Area 004</div>
                </div>
            </div>
            <div class="xpanel-wrapper xpanel-wrapper-30">
                <div class="xpanel xpanel-r-m">
                    <div class="title">Area 005</div>
                </div>
            </div>
            <div class="xpanel-wrapper xpanel-wrapper-45">
                <div class="xpanel xpanel-r-b">
                    <div class="title">Area 006</div>
                </div>
            </div>
        </div>
    </div>
</div>
