.logo-big {
    font-weight: bolder;
    color: #1abc9c;
}

.logo-small {
    font-size: 16px;
    font-weight: bolder;
    color: #1abc9c;
    margin: 0 -3px;
}

.login-user {
    cursor: pointer;
}
