<div>
    <app-header [showFeatures]='true'></app-header>
    <!-- <header id="nav" class="header">
        <div class="navbar navbar-expand-md navbar-light default-menu justify-content-between" role="navigation">
            <div class="container-fluid">
                <a href="#nav" class="site-logo navbar-brand">JUSTGO</a>
                <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#v" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="v">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link scroll" href="#nav">首页</a></li>
                        <li class="nav-item"><a class="nav-link scroll" href="#feature">说明</a></li>
                        <li class="nav-item"><a class="nav-link scroll" href="#about">关于</a></li>
                        <li class="nav-item"><a class="nav-link scroll" href="#testimonial">介绍</a></li>
                        <li class="nav-item"><a class="nav-link scroll" href="#blog">博客</a></li>
                        <li class="nav-item"><a class="nav-link scroll" href="#action">联系</a></li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto" *ngIf="!loggedIn">
                        <li class="nav-item"><a class="nav-link" routerLink="/login" style="padding-right: 8px;">登录</a></li>
                        <span style="line-height: 56px;">|</span>
                        <li class="nav-item"><a class="nav-link" routerLink="/register">注册</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header> -->

    <section id="home" class="header-intro-1 d-flex align-items-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="header-intro-wrap text-center">
                        <div class="header-intro-title"><h3>我要飞得更高</h3></div>
                        <div class="header-intro-tag">永不止息 </div>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#" class="btn btn-primary main-btn bg-main">去吧</a></li>
                            <li class="list-inline-item"><a href="#" class="btn btn-primary main-btn bg-green">皮卡丘</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="speciality">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="speciality-wrap">
                        <div><i nz-icon nzType="cloud" nzTheme="outline"></i></div>
                        <a href="#">更快</a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="speciality-wrap">
                        <div><i nz-icon nzType="cloud" nzTheme="outline"></i></div>
                        <a href="#">更高</a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="speciality-wrap">
                        <div><i nz-icon nzType="cloud" nzTheme="outline"></i></div>
                        <a href="#">更强</a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="speciality-wrap">
                        <div><i nz-icon nzType="cloud" nzTheme="outline"></i></div>
                        <a href="#">更帅</a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="speciality-wrap">
                        <div><i nz-icon nzType="cloud" nzTheme="outline"></i></div>
                        <a href="#">更美</a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="speciality-wrap">
                        <div><i nz-icon nzType="cloud" nzTheme="outline"></i></div>
                        <a href="#">更好</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="feature" class="feature" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-tag">Our Provided</div>
                    <div class="section-title mb-5"><h2>Latest Features</h2></div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="feature-wrap">
                        <div><i nz-icon nzType="cloud" nzTheme="outline"></i></div>
                        <a href="#">Multi-file Package</a>
                        <p>You can use multiple file with single entry. at front-end those files will be downloaded as a zip</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="feature-wrap">
                        <div><i nz-icon nzType="cloud" nzTheme="outline"></i></div>
                        <a href="#">Multi-file Package</a>
                        <p>You can use multiple file with single entry. at front-end those files will be downloaded as a zip</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="feature-wrap">
                        <div><i nz-icon nzType="cloud" nzTheme="outline"></i></div>
                        <a href="#">Multi-file Package</a>
                        <p>You can use multiple file with single entry. at front-end those files will be downloaded as a zip</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="feature-wrap">
                        <div><i nz-icon nzType="cloud" nzTheme="outline"></i></div>
                        <a href="#">Multi-file Package</a>
                        <p>You can use multiple file with single entry. at front-end those files will be downloaded as a zip</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="feature-wrap">
                        <div><i nz-icon nzType="cloud" nzTheme="outline"></i></div>
                        <a href="#">Multi-file Package</a>
                        <p>You can use multiple file with single entry. at front-end those files will be downloaded as a zip</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="feature-wrap">
                        <div><i nz-icon nzType="cloud" nzTheme="outline"></i></div>
                        <a href="#">Multi-file Package</a>
                        <p>You can use multiple file with single entry. at front-end those files will be downloaded as a zip</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="feature-wrap">
                        <div><i nz-icon nzType="cloud" nzTheme="outline"></i></div>
                        <a href="#">Multi-file Package</a>
                        <p>You can use multiple file with single entry. at front-end those files will be downloaded as a zip</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="feature-wrap">
                        <div><i nz-icon nzType="cloud" nzTheme="outline"></i></div>
                        <a href="#">Multi-file Package</a>
                        <p>You can use multiple file with single entry. at front-end those files will be downloaded as a zip</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="highlight-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="highlight-section-wrap text-center">
                        <div class="highlight-section-title"><h3>WE WORK HARD TO GIVE YOU UNIQUE PRODUCTS</h3></div>
                        <div class="highlight-section-tag">Ready to buy now? we can assure you that you won’t regret it </div>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#" class="btn btn-primary main-btn bg-main">Get Started</a></li>
                            <li class="list-inline-item"><a href="#" class="btn btn-primary main-btn bg-green">Purchase Now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="about-us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="about-wrap">
                        <div class="section-tag">Welcome to Wpdm</div>
                        <div class="section-title"><h2>About Us</h2></div>
                        <p>
                            We design and develop services for customers of all sizes, specializing in creating stylish, modern websites, web services and online stores. Design is our art and our passion. Our goal is to create the best products with a pixel-perfect eye for detail and a high standard for aesthetic excellence.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="about-image text-center">
                        <div><img class="img-fluid" src="assets/images/sample/undraw_hello_aeia.svg" alt="About Us"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="call-to-action">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="call-to-action-wrap">
                        <div class="call-to-action-title">
                            <h3>Trust our? Review our projects completed on ThemeForest.net in last year, all the best.</h3>
                            <div class=" call-btn-wrap text-center"><a href="#" class="btn btn-primary main-btn">Purchase Now</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonial" class="testimonial">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-wrap text-center">
                        <div class="section-tag">Our Best</div>
                        <div class="section-title"><h2>Reviews And Clients</h2></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
                    <div id="testimonial-slider" class="testimonial-slider">
                        <div class="slider-item">
                            <div class="testimonial-wrap mx-auto">
                                <div class="testimon-detail">
                                    <div class="testimon-icon"><i class="ion ion-quote"></i></div>
                                    <strong>Great Plugin</strong>
                                    <p>Switching to WordPress from Joomla was greatly helped by a great download manager for WordPress, WPDM. With unsurpassed support I was able to fine tune my downloads section on the website to my delight. </p>
                                </div>
                                <div class="testimon-img-wrap">
                                    <div class="testimon-img"><img src="assets/images/sample/team_3.jpg" alt="Profile Image"></div>
                                    <div class="testimon-name">Rob Vens</div>
                                    <div class="testimon-tag">Reflektis.com</div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item">
                            <div class="testimonial-wrap mx-auto">
                                <div class="testimon-detail">
                                    <div class="testimon-icon"><i class="ion ion-quote"></i></div>
                                    <strong>Great Plugin</strong>
                                    <p>Switching to WordPress from Joomla was greatly helped by a great download manager for WordPress, WPDM. With unsurpassed support I was able to fine tune my downloads section on the website to my delight. </p>
                                </div>
                                <div class="testimon-img-wrap">
                                    <div class="testimon-img"><img src="assets/images/sample/team_2.jpg" alt="Profile Image"></div>
                                    <div class="testimon-name">Rob Vens</div>
                                    <div class="testimon-tag">Reflektis.com</div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-item">
                            <div class="testimonial-wrap mx-auto">
                                <div class="testimon-detail">
                                    <div class="testimon-icon"><i class="ion ion-quote"></i></div>
                                    <strong>Great Plugin</strong>
                                    <p>Switching to WordPress from Joomla was greatly helped by a great download manager for WordPress, WPDM. With unsurpassed support I was able to fine tune my downloads section on the website to my delight. </p>
                                </div>
                                <div class="testimon-img-wrap">
                                    <div class="testimon-img"><img src="assets/images/sample/team_1.jpg" alt="Profile Image"></div>
                                    <div class="testimon-name">Rob Vens</div>
                                    <div class="testimon-tag">Reflektis.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="blog" class="product">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-wrap text-center">
                        <div class="section-tag">See All </div>
                        <div class="section-title"><h2>Our News Update</h2></div>
                        <div class="section-detail-para">Want to give a new look to your site or still need more feature? WordPress Download Manager Plugin has lots of amazing themes, add-ons and there are further more coming continuously...</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="card">
                            <div class="product__item-img">
                                <img class="card-img-top img-fluid product-face" src="assets/images/sample/blog-thumb_01.jpg" alt="Product Thumb">
                                <div class="product__item-overlay">
                                    <ul class="list-inline product-info">
                                        <li class="list-inline-item"><a href="single-post.html"><i nz-icon nzType="search" nzTheme="outline"></i></a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product__content-inner card-body">
                                <div class="product__title-price">
                                    <a href="product-detail.html"><h5 class="card-title">The Best Productivity Apps on Market</h5></a>
                                </div>
                                <div class="product-para">You can use multiple file with single entry at front-end.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="card">
                            <div class="product__item-img">
                                <img class="card-img-top img-fluid product-face" src="assets/images/sample/blog-thumb_01.jpg" alt="Product Thumb">
                                <div class="product__item-overlay">
                                    <ul class="list-inline product-info">
                                        <li class="list-inline-item"><a href="single-post.html"><i nz-icon nzType="search" nzTheme="outline"></i></a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product__content-inner card-body">
                                <div class="product__title-price">
                                    <a href="product-detail.html"><h5 class="card-title">The Best Productivity Apps on Market</h5></a>
                                </div>
                                <div class="product-para">You can use multiple file with single entry at front-end.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="card">
                            <div class="product__item-img">
                                <img class="card-img-top img-fluid product-face" src="assets/images/sample/blog-thumb_01.jpg" alt="Product Thumb">
                                <div class="product__item-overlay">
                                    <ul class="list-inline product-info">
                                        <li class="list-inline-item"><a href="single-post.html"><i nz-icon nzType="search" nzTheme="outline"></i></a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product__content-inner card-body">
                                <div class="product__title-price">
                                    <a href="product-detail.html"><h5 class="card-title">The Best Productivity Apps on Market</h5></a>
                                </div>
                                <div class="product-para">You can use multiple file with single entry at front-end.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="card">
                            <div class="product__item-img">
                                <img class="card-img-top img-fluid product-face" src="assets/images/sample/blog-thumb_01.jpg" alt="Product Thumb">
                                <div class="product__item-overlay">
                                    <ul class="list-inline product-info">
                                        <li class="list-inline-item"><a href="single-post.html"><i nz-icon nzType="search" nzTheme="outline"></i></a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product__content-inner card-body">
                                <div class="product__title-price">
                                    <a href="product-detail.html"><h5 class="card-title">The Best Productivity Apps on Market</h5></a>
                                </div>
                                <div class="product-para">You can use multiple file with single entry at front-end.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5">
                    <div class="text-center"><a href="blogpage.html" class="btn btn-primary main-btn btn-reload"><i nz-icon nzType="loading" nzTheme="outline"></i> View More</a></div>
                </div>

            </div>
        </div>
    </section>

    <section id="action" class="call-to-action-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="call-to-action-wrap">
                        <div class="call-to-action-title">
                            <div class="text-center"><a href="#" class="btn btn-primary main-btn">Download Apps </a></div>
                            <h3>Trust our? Review our projects completed on ThemeForest.net in last year, all the best.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-item-title"><h4>Orion's Intro</h4></div>
                    <div class="subscribe">
                        <p>All in One digital resource management & complete eCommerce solution for selling digital products</p>
                    </div>
                    <div class="list-wrap">
                        <ul class="list-inline social-links">
                            <li class="list-inline-item"><i class="ion ion-social-facebook"></i></li>
                            <li class="list-inline-item"><i class="ion ion-social-twitter-outline"></i></li>
                            <li class="list-inline-item"><i class="ion ion-social-googleplus"></i></li>
                            <li class="list-inline-item"><i class="ion ion-social-dribbble"></i></li>
                            <li class="list-inline-item"><i class="ion ion-social-github"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-item-title"><h4>Our Network</h4></div>
                    <div class="just-links">
                        <ul class="list-unstyled">
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>About us</a></li>
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>New Products</a></li>
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>Orders And Returns</a></li>
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>New Products</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-item-title"><h4>Recent Post</h4></div>
                    <div class="just-links">
                        <ul class="list-unstyled">
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>About us</a></li>
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>New Products</a></li>
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>New Products</a></li>
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>Orders And Returns</a></li>
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>New Products</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-item-title"><h4>WPDM Blog</h4></div>
                    <div class="just-links">
                        <ul class="list-unstyled">
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>About us</a></li>
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>New Products</a></li>
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>New Products</a></li>
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>Orders And Returns</a></li>
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>New Products</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="footer-item-title"><h4>Information</h4></div>
                    <div class="just-links">
                        <ul class="list-unstyled">
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>About us</a></li>
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>New Products</a></li>
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>Orders And Returns</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="footer-item-title"><h4>My account</h4></div>
                    <div class="just-links">
                        <ul class="list-unstyled">
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>My account</a></li>
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>Order-history</a></li>
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>Wish List</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="footer-item-title"><h4>Customer Service</h4></div>
                    <div class="just-links">
                        <ul class="list-unstyled">
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>Contact us</a></li>
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>Returns</a></li>
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>Our Site Map</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-item-title"><h4>Contact Us</h4></div>
                    <div class="just-links">
                        <ul class="list-unstyled">
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>2506 SARYOBA ROAD, MSATGOLP</a></li>
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>+(123) 456 789</a></li>
                            <li class=""><a href="#"><i class="ion ion-ios-arrow-thin-right"></i>info@nextlevel.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <a href="#nav" class="top-arrow section-scroll scroll"><i nz-icon nzType="arrow-up" nzTheme="outline"></i></a>
        </div>
    </section>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-5 align-self-center">
                    <div>
                        <p><a href="https://beian.miit.gov.cn/" target="_blank">鲁ICP备17054097号-1</a></p>
                    </div>
                </div>
                
                <div class="col-lg-7 col-md-6 col-sm-7 align-self-center">
                    <ul class="list-inline footer-menu">
                        <li class="list-inline-item"><a href="#">Home</a></li>
                        <li class="list-inline-item"><a href="#">Terms</a></li>
                        <li class="list-inline-item"><a href="#">About</a></li>
                        <li class="list-inline-item"><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
